/* Base */
* {
  margin: 0px;
  padding: 0px;
}

/* Nav Bar */
.navbar {
  margin: 0px;
  height: 50px;
  padding: 0 20px;
  background-color: #202020;
}


a {
  display: inline-block;
  position: fixed;
  font-family: Verdana, sans-serif;
  text-decoration: none;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
  -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  padding: 15px;
}

a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #800080;
	width: 0;
	left: 50%;
	bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

a:hover {
	color: #800080;
}

a:hover:after {
	width: 80%;
}

a.active::after {
  width: 80%;
}

/* End Nav Bar */

/* Central Paragraph */
html, body {
  height: 100%
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(https://37.media.tumblr.com/f6c67ec2821a91051e4175f8a102e1e2/tumblr_n6rzpcsMk41st5lhmo1_1280.jpg) 50% 50% / cover
}

#info {
  display: table;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%; 
}

#info-content {
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    text-align: center;
    color: #fff;
    font-size: 12px 
}

h1 {   
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0,0,0,0.1);
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block; 
}

strong {
    display: block;
    font-size: 26px 
} 
   
  