html {
	scroll-behavior: smooth;
}

body {
	font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #fff;
	background-image: url("../images/home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0px;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	margin: 0;
	border: 0;
}

/* Nav Bar */
.navbar {
	border: 1px solid transparent;
	background: 
    linear-gradient(#202020, #202020) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
	border-image-slice: 1;
	border-radius: 10px;
  margin: 10px 10px 10px;
  height: 50px;
  padding: 0 20px;
  background-color: #202020;
}

.navbar a {
  display: inline-block;
  position: fixed;
  font-family: Verdana, sans-serif;
  text-decoration: none;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
  -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  padding: 15px;
}

.navbar a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #800080;
	width: 0;
	left: 50%;
	bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.navbar a:hover {
	color: #800080;
}

.navbar a:hover:after {
	width: 80%;
}

.navbar a.active::after {
  width: 80%;
}

/* Classi */
a {
  display: inline-block;
  position: fixed;
  font-family: Verdana, sans-serif;
  text-decoration: none;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
  -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  padding: 15px;
}

a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #800080;
	width: 0;
	left: 50%;
	bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

a:hover {
	color: #800080;
}

a:hover:after {
	width: 80%;
}

a.active::after {
  width: 80%;
}

/* Orario e Materie */
.orario{
  display: inline-block;
  position: fixed;
  font-family: Verdana, sans-serif;
  text-decoration: none;
	color: white;
	font-size: 11.8px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
  -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 5px;
	padding-top: 25px;
}


.orario:hover {
	color: white;
}

.orario:hover:after {
	width: 0%;
}

.orario.active::after {
  width: 0%;
}


h1 {
	margin: 0.5em 0 0;
	letter-spacing: -1px;
	font-size: 3em;
	line-height: 1;
	font-weight: normal;
}

h1 span {
	display: block;
	padding: 0.5em 0 1em;
	color: #999;
	font-weight: normal;
	font-size: 0.45em;
	letter-spacing: 0;
}

/* End Nav Bar */

.contenitore {

    margin: 50px auto;
    padding: 30px;
		background: 
    	linear-gradient(#202020, #202020) padding-box,
    	linear-gradient(135deg, #fb3570, #1d13f5) border-box;
		font-size: 18px;
		max-width: 1140px;
		border: 4px solid transparent;
		border-radius: 10px;
		box-shadow: 0 8px 10px -2px #091c32;  

}	

.contenitore2 {
	margin: 50px auto;
	height: auto;
	background: 
		linear-gradient(#202020, #202020) padding-box,
		linear-gradient(135deg, #285aec, #33d4ff) border-box;;
	max-width: 1200px;
	border: 4px solid transparent;
	font-size: 18px;
	border-radius: 10px;
	box-shadow: 0 8px 10px -2px #091c32;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}	

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ScrollBar Customization */
.scroller {

	/*Firefox*/

	height: 800px;
	scrollbar-color: #fb3570 #202020;
	scrollbar-width: thin;

	/*Edge*/

 	-ms-scrollbar-highlight-color: bisque;
  	-ms-scrollbar-face-color: red;
  	-ms-scrollbar-arrow-color: red;
}

/*Chrome*/
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #202020; 
}

::-webkit-scrollbar-thumb {
	background: #fb3570; 
}

/*TimeTable*/

.timetable, .td, .th {
	border: 1px solid white;
	border-radius: 10px;
	padding: 20px;
	border-collapse: collapse;
  }
  
  
  .timetable {
	  margin: 5px;
	  max-width: 980px;
	  width: 980px;
  }
  
  .td {
	  max-width: 90px;
	  padding: 20px;
	  text-align: center;
	  border: 1px solid white;
  }